[submodule "leveldb/leveldb_demo/contrib/leveldb"]
	path = leveldb/leveldb_demo/contrib/leveldb
	url = https://github.com/google/leveldb.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "contrib/poco"]
	path = contrib/poco
	url = https://github.com/pocoproject/poco.git
[submodule "contrib/aws-sdk-cpp"]
	path = contrib/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
